main {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  container-type: inline-size;
  background: linear-gradient(135deg, #09002e 25%, #391f77 50%, #09002e 75%);
  align-content: center;
}

.memory-match-wrapper {
  width: clamp(21rem, 90svw, 41rem);
  aspect-ratio: 9 / 16;
  margin-inline: auto;

  > :first-child {
    text-align: center;
    font-size: 1.7rem;
    text-shadow: 1px 1px 3px azure;
  }

  .memory-match-design {
    height: 100%;
    padding: 0.7rem;
    margin-top: 0.7rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    place-items: center;
    background-color: rgb(55 55 55 / 0.3);
    backdrop-filter: blur(3px);
    border: 1px solid goldenrod;
    border-radius: 7px;
    box-shadow: inset 0 0 11px aliceblue;
  }

  .reset-design {
    text-align: center;

    > :first-child {
      margin-top: 0.7rem;
      padding: 0.3rem 1rem;
      border-radius: 7px;
      background: transparent;
      border: 2px solid rgba(13, 5, 248, 0.733);
      transition: transform 1s ease, box-shadow 1s ease;
      cursor: pointer;

      &:active {
        transform: translateY(4px);
        box-shadow: inset 0 0 9px 9px rgba(68, 30, 240, 0.456);
      }
    }
  }
}

@container (width >= 40rem) {
  .memory-match-wrapper {
    aspect-ratio: 5 / 4;
  }
}
